.cursor-dot {
  width: 5px;
  height: 5px;
  background: rgb(242, 236, 236);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  transition: transform 150ms ease;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
}

.line__container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.separator {
  position: absolute;
  width: 0.15px;
  background: rgba(255, 255, 255, 0.15);
  height: 100%;
}

.separator:nth-child(1) {
  left: 20%;
}

.separator:nth-child(2) {
  left: 40%;
}

.separator:nth-child(3) {
  left: 60%;
}

.separator:nth-child(4) {
  left: 80%;
}

.name__container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.first__name {
  margin: 0;
  position: absolute;
  top: 12rem;
  width: fit-content;
  text-align: center;
  line-height: 0.76;
  font-size: 15rem;
  left: 10%;
  z-index: 1;
  -webkit-text-stroke: 0px;
}

.last__name {
  margin: 0;
  position: absolute;
  top: 12rem;
  right: 6.9rem;
  width: fit-content;
  text-align: right;
  line-height: 0.75;
  font-size: 29.03rem;
  letter-spacing: 1px;
  color: transparent;
  white-space-trim: nowrap;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.about__container,
.journey__container {
  padding: 1rem;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  font-family: 'Old Standard TT', serif;
  font-size: 1.618rem;
}

.background__text {
  font-family: 'Old Standard TT';
  position: absolute;
  top: 75%;
  left: 1%;
  font-size: 6.854rem;
  color: transparent;
  white-space-trim: nowrap;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.78);
}

.about__imageContent {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.about__textContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;
  line-height: 1.5;
  font-size: 1.618rem;
  color: rgb(255, 255, 255);
}

.journey__container {
  display: flex;
  flex-direction: column;
}

.journey__content {
  text-align: center;
  font-size: 1.618rem;
  padding: 2.618rem;
}

.journey__timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Additional styling */
}
.journey__line {
  background-color: #fff;
  height: 2px;
  flex-grow: 1;
  transform-origin: left;
}

.journey__line--final {
  background-color: #00cc99;
}

.journey__event-dot {
  background-color: #ffb7c5;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 2px solid #fff;
  outline-offset: 4px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}
