@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;

  --font-size-sm: 0.618rem;
  --font-size-base: 1rem;
  --font-size-md: 1.618rem;
  --font-size-lg: 2.618rem;
  --font-size-xl: 4.236rem;
  --font-size-xxl: 6.854rem;
  --font-size-xxxl: 11.089rem;
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.563rem;
    --font-size-xl: 1.953rem;
    --font-size-xxl: 2.441rem;
    --font-size-xxxl: 3.052rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  height: 100vh;
  cursor: none;
}
